{# templates/task/new.html.twig #}
{% extends 'base.html.twig' %}
{# {{ form(form) }}#}

{% block body %}
{{ form_start(form) }}

{% if form.vars.value.id > 0 %}
	<h1>Edit Product {{ form.vars.value.name }}</h1>
{% else %}
	<h1>New Product</h1>
{% endif %}

<table>
{# 	Only show the Id Field, if it is > 0. For new Products, don't show the Id.#}
	<tr>
		{% if form.vars.value.id > 0 %}
			<td><label class="labelStyle">Id:</label></td>
			<td>{{ form_widget(form.id) }}</td>
	    {% endif %}
	</tr>
	
	<tr>
		<td><label class="labelStyle">Name:</label></td>
		<td>{{ form_widget(form.name) }}</td>
	</tr>
	
	<tr>
		<td><label class="labelStyle">Price:</label></td>
		<td>{{ form_widget(form.price) }}</td>
	</tr>
	
	<tr>
		<td><label class="labelStyle">Description:</label></td>
		<td>{{ form_widget(form.description) }}</td>
	</tr>
	
	<tr>
		<td style="padding-top: 5px">
		    {% if not form.vars.value.rawPhoto is empty %}
				<img class="smallImage" src="{{ form.vars.value.base64Image }}"/>
			{% else %}
				<img class="smallImage"/>
		    {% endif %}
	    </td>
	    
	    <td>{{ form_widget(form.image) }}</td>
	</tr>
</table>

<br/>

{# <button type="submit" class="button">#}
{# 	<i class="fa fa-save" aria-hidden="true"></i>Save#}
{# </button>#}
{{ form_widget(form.save, { 'label': 'Save' }) }}
{# {{ form_widget(form.cancel, { 'label': 'Cancel' }) }}#}

{# <a href="{{ path('product_save') }}" class="button">Save</a>#}
<a href="{{ path('products_show') }}" class="button">Cancel</a>

{{ form_end(form) }}

{% endblock %}