{# templates/task/new.html.twig #}
{% extends 'base.html.twig' %}
{# {{ form(form) }}#}

{% block body %}
{{ form_start(form) }}
<table>
{# 	Only show the Id Field, if it is > 0. For new Products, don't show the Id.#}
	<tr>
		{% if form.vars.value.id > 0 %}
			<td><label style="font-weight:bold">Id:</label></td>
			<td>{{ form_widget(form.id) }}</td>
	    {% endif %}
	</tr>
	
	<tr>
		<td><label style="font-weight:bold">Name:</label></td>
		<td>{{ form_widget(form.name) }}</td>
	</tr>
	
	<tr>
		<td><label style="font-weight:bold">Price:</label></td>
		<td>{{ form_widget(form.price) }}</td>
	</tr>
	
	<tr>
		<td><label style="font-weight:bold">Description:</label></td>
		<td>{{ form_widget(form.description) }}</td>
	</tr>
</table>

<br/>

{# <button type="submit" class="button">#}
{# 	<i class="fa fa-save" aria-hidden="true"></i>Save#}
{# </button>#}
{{ form_widget(form.save, { 'label': 'Save' }) }}
{# {{ form_widget(form.cancel, { 'label': 'Cancel' }) }}#}

{# <a href="{{ path('product_save') }}" class="button">Save</a>#}
<a href="{{ path('products_show') }}" class="button">Cancel</a>

{{ form_end(form) }}

{% endblock %}